<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Digital Library</title>
    <!--CSS-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/oosde">
        <img th:src="@{/logo.png}" width="30" height="30" class="d-inline-block align-top" alt="">
        Digital Library
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link disabled">Ciao, <span
                        th:text="${session.User.nome + ' ' + session.User.cognome}"
                        th:unless="${session == null}"></span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item rounded">
                        <a class="nav-link" href="/oosde">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/oosde/DigitalLibrary/UserAccount">
                            <i class="fas fa-user"></i>
                            Anagrafica utente
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/oosde/DigitalLibrary/UserAccount">
                            <i class="fas fa-fas fa-edit"></i>
                            Trascrizioni Assegnate
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/oosde/DigitalLibrary/UserAccount">
                            <i class="fas fa-plus-square"></i>
                            Aggiungi Opera
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>OPERA</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h4 th:text="${artwork.title}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <img th:src="@{'/'+${artwork.img_url}}" alt="">
                </div>
                <div class="col-7">
                    <span th:text="${artwork.description}"></span>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>