<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Digital Library</title>
    <!--CSS-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style2.css}" rel="stylesheet">
    <link th:href="@{/css/slick-theme.css}" rel="stylesheet">
    <link th:href="@{/css/slick.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script th:src="@{/js/slick.js}" type="text/javascript"></script>
</head>
<body>
<!--START-->
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>
                <a class="navbar-brand" href="/DigitalLibrary">
                    <img th:src="@{/logo.png}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Digital Library
                </a>
            </h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="/DigitalLibrary">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="/DigitalLibrary/UserAccount">
                    <i class="fas fa-user"></i>
                    Anagrafica utente
                </a>
            </li>
            <li th:if="${session.User.transcriber || session.User.administrator}">
                <a class="nav-link" href="/DigitalLibrary/MyTranscriptions">
                    <i class="fas fa-fas fa-edit"></i>
                    Trascrizioni Assegnate
                </a>
            </li>
            <li th:if="${session.User.uploader || session.User.manager || session.User.administrator}">
                <a href="#menuInserimenti" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menù
                    Caricamento</a>
                <ul class="collapse list-unstyled" id="menuInserimenti">
                    <li th:if="${session.User.manager || session.User.administrator}">
                        <a class="nav-link" href="/DigitalLibrary/NewArtwork">
                            <i class="fas fa-book"></i>
                            Aggiungi Opera
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/DigitalLibrary/NewImage">
                            <i class="fas fa-file-image"></i>
                            Aggiungi Pagina ad un'Opera
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/DigitalLibrary/NewAuthor">
                            <i class="fas fa-user-plus"></i>
                            Aggiungi Autore
                        </a>
                    </li>
                </ul>
            </li>

            <li th:if="${session.User.manager || session.User.administrator}">
                <a href="#validationMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menù
                    Validazioni</a>
                <ul class="collapse list-unstyled" id="validationMenu">
                    <li>
                        <a class="nav-link" href="/DigitalLibrary/Artwork/ValidateImage">
                            <i class="fas fa-check-circle"></i>
                            Valida Immagini
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/DigitalLibrary/Artwork/ValidateTranscription">
                            <i class="far fa-check-circle"></i>
                            Valida Trascrizioni
                        </a>
                    </li>
                </ul>
            </li>

            <li th:if="${session.User.manager || session.User.administrator}">
                <a href="#menuAssegnamento" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menù
                    Assegnamento</a>
                <ul class="collapse list-unstyled" id="menuAssegnamento">
                    <li>
                        <a class="nav-link" href="/DigitalLibrary/AssignTranscription">
                            <i class="fas fa-i-cursor"></i>
                            Assegna Pagina ad un Trascrittore
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info-dl">
                    <i class="fas fa-arrow-circle-left" id="sidebar-arrow"></i><span id="info"> Minimizza</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="mt-2 mr-4">
                        <span class="text-white">Ciao,
                            <span class="text-white" th:text="${session.User.name + ' ' + session.User.surname}"
                                  th:unless="${session == null}"></span>
                        </span>
                        </li>
                        <li>
                            <form class="form-inline my-2 my-lg-0" action="/DigitalLibrary/SearchResults">
                                <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search"
                                       aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--CONTENUTO!!!!!-->
        <main>
            <div class="row">
                <div class="col-12">
                    <h2>Opera</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p>
                    <h4 th:text="${artwork.title}"></h4>
                    <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                            data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample" th:text="Info">
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <h5>Info sull'autore</h5>
                                    <span th:each="author : ${authorList}">
                                        <span th:text="${author.name + ' ' + author.surname}"></span>
                                        <span th:text="${'Nato il ' + author.birth_date + ' a ' + author.birth_place + ', ' + author.birth_country}"></span>
                                        <hr class="border-bottom mt-1 mb-1">
                                    </span>
                                    <hr>
                                    <h5>Info sull'Opera</h5>
                                    <span th:text="${'Anno: '+{artwork.year}}"></span>
                                    <span th:text="${'Genere: '+{catName}}"></span>
                                    <span th:text="${'Lingua: '+{artwork.language}}"></span>
                                </div>
                                <div class="col-6 border-left">
                                    <h5>Descrizione dell'opera</h5>
                                    <span th:text="${artwork.description}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="slider-nav">
                <div class="row" th:each="page : ${pages}" th:if="${page.img_validated}">
                    <div>
                        <img class="image-fluid img-thumb mx-auto d-block"
                             th:src="@{${'/' + artwork.id + '/' + page.img_url}}"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="slider-for">
                <div class="row" th:each="page : ${pages}">
                    <div class="row">
                        <div class="col-6 p0">
                            <a th:href="'/DigitalLibrary/Artwork/ImageDetail?imgId='+${page.id}" target="_blank">
                                <img class="image-fluid resizable rounded"
                                     th:src="@{${'/' + artwork.id + '/' + page.img_url}}"
                                     alt="">
                            </a>
                        </div>
                        <div class="col-6 p0">
                            <div class="card">
                                <div class="card-body">
                                    <p class="descr card-text" th:if="${page.tr_validated}" th:remove="tag" th:utext="${page.transcription}"></p>
                                    <p class="descr card-text" th:unless="${page.tr_validated}" th:remove="tag" th:text="${'Trascrizione non disponibile.'}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${session.User.downloader}" class="row text-center">
                <button value="" class="btn btn-outline-primary">Scarica l'Opera</button>
            </div>
        </main>
        <!--END CONTENUTO!!!!!-->
    </div>
</div>
<!--END-->
</body>
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    var count = /*[[${#lists.size(pages)}]]*/ "";
    var imgNumber = 0;
    /*]]>*/
    if (count < 9) {
        imgNumber = count;
    }
    else {
        imgNumber = 9;
    }
    $(document).ready(function () {
        $('.slick-track').css("transform", "");
        $verso = 0;
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });
        $('.slider-for').slick({
            autoplay: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: true,
            arrows: false,
            fade: true,
            adaptiveHeight: true,
            accessibility: false,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: imgNumber,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            centerMode: true,
            focusOnSelect: true
        });
        $a = 180;
        jQuery.fn.extend({
            rotate: function (a) {
                $('#sidebar-arrow').css({'transform': 'rotate(' + a + 'deg)'});
                if ($('#info').text() === ' Minimizza') {
                    $('#info').text(' Massimizza');
                }
                else {
                    $('#info').text(' Minimizza');
                }
                $a += 180;
                return $(this);
            }
        });
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            $('#sidebar-arrow').rotate($a);
        });
    })
</script>
</html>